<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>头像剪裁</title>
    <link rel="stylesheet" type="text/css" href="css/moblie.css">
    <script type="text/javascript">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + "px";
    </script>
    <script src="js/zepto.min.js"></script>
</head>

<body>
    <div id="img_box">
        <img src="img/meizi.jpg">
        <div id="img_drag_box"></div>
    </div>
    <!-- <div id="change"></div> -->
    <form action="#" id="forms" enctype="multipart/form-data">
        <div id="btn"><span id="upload">上传<input type="file" name="img"></span><span id="jiancai">剪裁</span></div>
    </form>
    <div id="p_message">正在上传...</div>
</body>

</html>
<script type="text/javascript">
// var url = window.location.href.split("?img=")[1];
// $("#img_box>img").attr("src", url);
var dragImage = function() {
    this.element = $("#img_box");
    this.sm_box = $("#img_drag_box");
    this.img = $("#img_box>img");
    this.jiancai = $("#jiancai");
    this.upload = $("#upload");
    this.jiazai = $("#p_message");

    this.width = this.element.width();
    this.sm_width = this.sm_box.width();
    this.topAndLeft = (this.width - this.sm_width) / 2;
    this.top = 0;
    this.left = 0;

    this.lastX = 0;
    this.lastY = 0;
    this.line = 0;
    this.p = true; //缩放 移动 阀值
    this.init();
};
//清除浏览器默认行为
dragImage.prototype.clearHtml = function() {
        $("#img_box").on("touchstart", function(e) {
            e.preventDefault();
        })
    }
    //固定选择框
dragImage.prototype.g_imgBox = function() {
        var self = this;
        this.sm_box.css({
            top: self.topAndLeft,
            left: self.topAndLeft
        })
    }
    //调整图片位置
dragImage.prototype.fixImage = function() {
        var self = this;
        if (self.img.width() <= 210) {
            self.img.css({
                top: self.topAndLeft + 2,
                left: self.topAndLeft + 2
            })
        }
    }
    //双击放大
dragImage.prototype.dubclick = function() {
        var self = this;
        self.element.on("doubleTap", function() {
            self.img.animate({
                width: "100%",
                left: 0,
                top: 0
            }, 200)
        })
    }
    //图片控制
dragImage.prototype.moveImg = function(e) {
    var self = this;
    self.element.on("touchstart", function(e) {
        var touch = e.touches[0]; //获取第一个触点
        var touch_t = e.touches[1]; //获取第一个触点

        if (!touch_t) {
            self.lastX = touch.pageX;
            self.lastY = touch.pageY;
            return;
        } else {
            self.line = parseInt(Math.sqrt(Math.pow(Math.abs(touch.pageX - touch_t.pageX), 2) + Math.pow(Math.abs(touch.pageY - touch_t.pageY), 2)));
            self.p = false;
            return;
        }
    })
    self.element.on("touchmove", function(e) {

        var touch = e.touches[0]; //获取第一个触点
        var touch_t = e.touches[1]; //获取第二个触点
        if (!touch_t) { //移动图片
            if (self.p) {
                self.left = parseInt(self.img.css("left")) + (touch.pageX - self.lastX);
                self.top = parseInt(self.img.css("top")) + (touch.pageY - self.lastY);
                //判断left,top最大临界值
                self.left = self.left > self.topAndLeft ? self.topAndLeft : self.left;
                self.top = self.top > self.topAndLeft ? self.topAndLeft : self.top;
                //判断left,top最小临界值
                var num_x = self.img.width() >= self.topAndLeft + self.sm_width ? -1 : 1;
                var num_y = self.img.height() >= self.topAndLeft + self.sm_width ? -1 : 1;
                self.left = self.left < (num_x * Math.abs(self.img.width() - (self.topAndLeft + self.sm_width)) + 4) ? (num_x * Math.abs(self.img.width() - (self.topAndLeft + self.sm_width)) + 4) : self.left;
                self.top = self.top < (num_y * Math.abs(self.img.height() - (self.topAndLeft + self.sm_width)) + 4) ? (num_y * Math.abs(self.img.height() - (self.topAndLeft + self.sm_width)) + 4) : self.top;
                //判断当前图片是否小于 选择框
                var left = self.img.width() < self.sm_width || self.img.height() <= self.sm_width ? self.topAndLeft + 2 : self.left;
                var top = self.img.width() < self.sm_width || self.img.height() <= self.sm_width ? self.topAndLeft + 2 : self.top;
                self.img.css({
                    left: left,
                    top: top
                })
                self.lastX = touch.pageX;
                self.lastY = touch.pageY;
            }
        } else { //缩放图片
            if (self.line == 0) {
                self.line = parseInt(Math.sqrt(Math.pow(Math.abs(touch.pageX - touch_t.pageX), 2) + Math.pow(Math.abs(touch.pageY - touch_t.pageY), 2)));
                return;
            }
            self.p = false; //图片移动不触发
            //计算两个手指间的距离
            var line = parseInt(Math.sqrt(Math.pow(Math.abs(touch.pageX - touch_t.pageX), 2) + Math.pow(Math.abs(touch.pageY - touch_t.pageY), 2)));
            if (Math.abs(line - self.line) < 10) {
                return;
            }
            var width = self.img.width();
            var s = line > self.line ? Math.abs(line - self.line) : -1 * Math.abs(line - self.line);

            var left = s > 0 ? (parseInt(self.img.css("left")) - (.5 * Math.abs(line - self.line))) : (parseInt(self.img.css("left")) + (.5 * Math.abs(line - self.line)));
            var top = s > 0 ? (parseInt(self.img.css("top")) - (.5 * Math.abs(line - self.line))) : (parseInt(self.img.css("top")) + (.5 * Math.abs(line - self.line)));

            self.img.css({
                "width": width + s,
                "left": left,
                "top": top
            });
            self.line = line;
        }
    })
    self.element.on("touchend", function(e) {

        //判断 图片大小
        if (self.img.width() < self.sm_width) {
            self.img.animate({
                "width": self.sm_width + 4,
                "left": self.topAndLeft,
                "top": self.topAndLeft
            }, 500, function() {
                self.p = true;
                return;
            })
        }
        setTimeout(function() {
            self.p = true;
        }, 500)
    })
}

//剪裁图片
dragImage.prototype.dragImg = function() {
        var self = this;
        self.jiancai.on("touchstart", function() {
            self.jiancai.css("opacity", .5)
        });
        self.jiancai.on("touchend", function() {
            self.jiancai.css("opacity", 1)
            var str = $("#img_box>img").attr('src');
            var names = str.substr(str.lastIndexOf("/") + 1);

            var obj = {
                x1: self.topAndLeft - self.left,
                y1: self.topAndLeft - self.top,
                img_w: self.img.width(),
                img_h: self.img.height(),
                w: 200,
                h: 200,
                name: names
            }

            $.ajax({
                url: "/touxiang/dragImage",
                type: "POST",
                data: obj,
                success: function(data) {
                    if (data == "1") {
                        window.location.href = "/";
                    }
                    if (data == "0") {
                        alert("服务器错误！")
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            })

        })
    }
    //上传头像
dragImage.prototype.uploadFun = function() {
        var self = this;
        self.upload.on("change", function() {
            var formData = new FormData($("#forms")[0]);
            self.jiazai.show().html("上传中...").css("color", "#333");
            $.ajax({
                url: "/touxiang/uploadImgs",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {

                    self.jiazai.html("加载图片...");
                    var img = new Image();
                    img.src = "img/" + data[0];
                    console.log(data[0])
                    img.onload = function() {
                        $("#img_box>img").attr("src", "img/" + data[0]);
                        self.jiazai.html("恭喜你，加载完成!").css("color", "green");
                        setTimeout(function() {
                            self.jiazai.hide();
                        }, 1000)
                    }
                },
                error: function(err) {
                    self.jiazai.html("上传失败!").css("color", "red");
                    console.log(err);
                }
            })
        })
    }
    //初始化
dragImage.prototype.init = function() {
    this.moveImg();
    this.dragImg();
    this.clearHtml();
    this.fixImage();
    this.uploadFun();
    this.dubclick();
}
window.onload = function() {
    var DragImage = new dragImage();
}
</script>
